@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none;
    color: inherit;
}

.bg-nav {
    background-image: linear-gradient(to right bottom, #000000, #380e18, #6b071f, #9e001b, #cd0000);
}

.bg-footer {
    background-image: linear-gradient(to left bottom, #cd0000, #9e001b, #6b071f, #380e18, #000000);
}
.slide-in {
    animation: slide-in 1s forwards;
}
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        z-index: -50;

    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        z-index: 50;
    }
}

.move-right {
    animation: move-right 1s forwards;
}
@keyframes move-right {
    0% {
        opacity: 0;
        transform: translateX(-100%);

    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.move-left {
    animation: move-left 1s forwards;
}

@keyframes move-left {
    0% {
        opacity: 0;
        transform: translateX(100%);

    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}